.header--primary {
  height: 90vh;
  position: relative;
  overflow: hidden;
  color: var(--white);
  &::after {
    content: "";
    height: 9rem;
    top: 95%; right: -5%; left: -5%;
    position: absolute;
    transform-origin: 25% 50%;
    transform: rotateZ(-5deg);
    background: var(--white);
    border-top: 1rem solid var(--orange);
  }
}

.header--video {
  height: 90vh; width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.header--content {
  height: 100vh; width: 100%;
  position: absolute;
  background: rgba(13,13,13,.6);
  text-align: left;
}

.content--center {
  width: 100%;
  position: absolute;
  top: 44%; left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  margin: 0 0 1.5rem 0; padding: 0 20px;
  font-size: 2rem; font-weight: 600; letter-spacing: -1px;
  display: block;
}

.header--tag {
  margin: 0 0 2rem 0; padding: 0 20px;
  font-size: 1.5rem; font-weight: 600;
  display: block;
}

.header--button {
  margin: 0 20px; padding: .5rem 1rem;
  width: 7rem;
  display: inline-block; position: relative;
  color: var(--white); text-decoration: none;
  font-size: 1rem; font-weight: 600; text-align: left;
  border: 4px solid var(--white); border-radius: 1px;
  transition: all 330ms cubic-bezier(0.215, 0.610, 0.355, 1);
  &:after {
    content: " >";
    position: absolute;
    right: 1rem;
    transform: none;
    transition: all 330ms cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  &:hover {
    width: 8rem;
    border-color: var(--orange);
    transition: all 600ms cubic-bezier(0.215, 0.610, 0.355, 1);
    &:after {
      color: var(--orange);
      transform: rotateZ(90deg);
      transition: color 660ms 600ms cubic-bezier(0.215, 0.610, 0.355, 1), transform 660ms 600ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }
  }
}

@media screen and (min-width: 600px) {
  .header--primary {
    &::after {
      top: 90%;
    }
  }
  .headline {
    font-size: 3rem;
  }
  .header--tag {
    font-size: 1.5rem;
  }
  .header--content {
    text-align: center;
  }
  .content--center {
    top: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .header--primary {
    height: 100vh;
  }
  .header--video {
    height: 100vh;
  }
}